{{#partial "content"}}

    <h1>All Departments</h1>
    <h2>To add a department:
        <a href="/departments/new"> click here</a>
    </h2>
    <br>
    <br>
    <table class="table">
        <tr>
            <th>Department Name</th>
            <th>Description</th>
            <th>Number of employees</th>


        </tr>
        {{#each departments}}
            <tr>
                <td>{{departmentName}}</td>
                <td>{{description}}</td>
                <td>{{numberOfEmployees}}</td>

            </tr>
        {{/each}}
    </table>

{{/partial}}

{{>layout.hbs}}